<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="maindata.service.dao.mapper.rds.GradeRulePOMapper" >
  <resultMap id="BaseResultMap" type="maindata.service.dao.model.GradeRulePO" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="tflag" property="tflag" jdbcType="CHAR" />
    <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="DECIMAL" />
    <result column="bracket_left" property="bracketLeft" jdbcType="VARCHAR" />
    <result column="bracket_right" property="bracketRight" jdbcType="VARCHAR" />
    <result column="logic_operator" property="logicOperator" jdbcType="VARCHAR" />
    <result column="details" property="details" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="maindata.service.dao.model.GradeRulePO" extends="BaseResultMap" >
    <result column="details" property="details" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, status, create_by, create_time, modify_by, modify_time, memo, tflag, 
    parent_code, parent_id, bracket_left, bracket_right, logic_operator, details
  </sql>
  <sql id="Blob_Column_List" >
    details
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from member_grade_rule
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from member_grade_rule
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="maindata.service.dao.model.GradeRulePO" >
    insert into member_grade_rule (id, code, name, 
      status, create_by, create_time, 
      modify_by, modify_time, memo, 
      tflag, parent_code, parent_id, 
      bracket_left, bracket_right, logic_operator, 
      details)
    values (#{id,jdbcType=DECIMAL}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyBy,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{memo,jdbcType=VARCHAR}, 
      #{tflag,jdbcType=CHAR}, #{parentCode,jdbcType=VARCHAR}, #{parentId,jdbcType=DECIMAL}, 
      #{bracketLeft,jdbcType=VARCHAR}, #{bracketRight,jdbcType=VARCHAR}, #{logicOperator,jdbcType=VARCHAR}, 
      #{details,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="maindata.service.dao.model.GradeRulePO" >
    insert into member_grade_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyBy != null" >
        modify_by,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="tflag != null" >
        tflag,
      </if>
      <if test="parentCode != null" >
        parent_code,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="bracketLeft != null" >
        bracket_left,
      </if>
      <if test="bracketRight != null" >
        bracket_right,
      </if>
      <if test="logicOperator != null" >
        logic_operator,
      </if>
      <if test="details != null" >
        details,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="tflag != null" >
        #{tflag,jdbcType=CHAR},
      </if>
      <if test="parentCode != null" >
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="bracketLeft != null" >
        #{bracketLeft,jdbcType=VARCHAR},
      </if>
      <if test="bracketRight != null" >
        #{bracketRight,jdbcType=VARCHAR},
      </if>
      <if test="logicOperator != null" >
        #{logicOperator,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        #{details,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="maindata.service.dao.model.GradeRulePO" >
    update member_grade_rule
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="tflag != null" >
        tflag = #{tflag,jdbcType=CHAR},
      </if>
      <if test="parentCode != null" >
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="bracketLeft != null" >
        bracket_left = #{bracketLeft,jdbcType=VARCHAR},
      </if>
      <if test="bracketRight != null" >
        bracket_right = #{bracketRight,jdbcType=VARCHAR},
      </if>
      <if test="logicOperator != null" >
        logic_operator = #{logicOperator,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="maindata.service.dao.model.GradeRulePO" >
    update member_grade_rule
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=VARCHAR},
      tflag = #{tflag,jdbcType=CHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=DECIMAL},
      bracket_left = #{bracketLeft,jdbcType=VARCHAR},
      bracket_right = #{bracketRight,jdbcType=VARCHAR},
      logic_operator = #{logicOperator,jdbcType=VARCHAR},
      details = #{details,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="maindata.service.dao.model.GradeRulePO" >
    update member_grade_rule
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=VARCHAR},
      tflag = #{tflag,jdbcType=CHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=DECIMAL},
      bracket_left = #{bracketLeft,jdbcType=VARCHAR},
      bracket_right = #{bracketRight,jdbcType=VARCHAR},
      logic_operator = #{logicOperator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=DECIMAL}
  </update>

  <select id="selectByCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from member_grade_rule
    where parent_code = #{parentCode} and code in
    <foreach collection="codes" item="code" index="no" open="("
             separator="," close=")">
      #{code}
    </foreach>
  </select>

  <delete id="deleteByCode">
    delete from member_grade_rule
    where parent_code = #{parentCode} and code in
    <foreach collection="codes" item="code" index="no" open="("
             separator="," close=")">
      #{code}
    </foreach>
  </delete>

  <delete id="deleteByExcludeCode">
    delete from member_grade_rule
    where parent_code = #{parentCode}
    <if test="codes.length > 0">
      and code not in
      <foreach collection="codes" item="code" index="no" open="("
               separator="," close=")">
        #{code}
      </foreach>
    </if>
  </delete>

  <delete id="deleteByParentCode">
    delete from member_grade_rule
    where parent_code in
    <foreach close=")" collection="array" index="no" item="code" open="(" separator=",">
      #{code}
    </foreach>
  </delete>
</mapper>