<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="maindata.service.dao.mapper.rds.MemberLabelAttributePOMapper">

	<resultMap id="BaseResultMap"
		type="maindata.service.dao.model.MemberLabelAttributePO">
		<id column="id" property="id" jdbcType="DECIMAL" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="CHAR" />
		<result column="file_category_valueset_value_code"
			property="fileCategoryValuesetValueCode" jdbcType="VARCHAR" />
		<result column="type_valueset_value_code"
			property="typeValuesetValueCode" jdbcType="VARCHAR" />
		<result column="file_type_valueset_value_code"
			property="fileTypeValuesetValueCode" jdbcType="VARCHAR" />
		<result column="label_type_valueset_value_code"
			property="labelTypeValuesetValueCode" jdbcType="VARCHAR" />
		<result column="valueset_code" property="valuesetCode"
			jdbcType="VARCHAR" />
		<result column="valueset_id" property="valuesetId"
			jdbcType="DECIMAL" />
		<result column="is_need_attribute" property="isNeedAttribute"
			jdbcType="CHAR" />
		<result column="is_multiselect_attribute"
			property="isMultiselectAttribute" jdbcType="CHAR" />
		<result column="createby" property="createby"
			jdbcType="VARCHAR" />
		<result column="createtime" property="createtime"
			jdbcType="TIMESTAMP" />
		<result column="modifyby" property="modifyby"
			jdbcType="VARCHAR" />
		<result column="modifytime" property="modifytime"
			jdbcType="TIMESTAMP" />
		<result column="tflag" property="tflag" jdbcType="CHAR" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, code, name, status, file_category_valueset_value_code,
		type_valueset_value_code,
		file_type_valueset_value_code, valueset_code,
		valueset_id, is_need_attribute,
		is_multiselect_attribute,
		label_type_valueset_value_code,
		createby,
		createtime, modifyby,
		modifytime, tflag, memo, content
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from member_label_attribute
		where id = #{id,jdbcType=DECIMAL}
	</select>

	<select id="selectByCode" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from member_label_attribute
		where code in
		<foreach collection="array" item="code" index="no" open="("
			separator="," close=")">
			#{code}
		</foreach>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		member_label_attribute
		where id = #{id,jdbcType=DECIMAL}
	</delete>

	<delete id="deleteByCode">
		delete from member_label_attribute
		where code in
		<foreach collection="array" item="code" index="no" open="("
			separator="," close=")">
			#{code}
		</foreach>
	</delete>

	<insert id="insert"
		parameterType="maindata.service.dao.model.MemberLabelAttributePO">
		insert into member_label_attribute (id, code, name,
		status, file_category_valueset_value_code, type_valueset_value_code,
		file_type_valueset_value_code, label_type_valueset_value_code,
		valueset_code,
		valueset_id,
		is_need_attribute, is_multiselect_attribute,
		createby, createtime,
		modifyby,
		modifytime, tflag, memo, content
		)
		values
		(#{id,jdbcType=DECIMAL},
		#{code,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{status,jdbcType=CHAR},
		#{fileCategoryValuesetValueCode,jdbcType=VARCHAR},
		#{typeValuesetValueCode,jdbcType=VARCHAR},
		#{fileTypeValuesetValueCode,jdbcType=VARCHAR},
		#{labelTypeValuesetValueCode,jdbcType=VARCHAR},
		#{valuesetCode,jdbcType=VARCHAR},
		#{valuesetId,jdbcType=DECIMAL},
		#{isNeedAttribute,jdbcType=CHAR},
		#{isMultiselectAttribute,jdbcType=CHAR},
		#{createby,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP}, #{modifyby,jdbcType=VARCHAR},
		#{modifytime,jdbcType=TIMESTAMP}, #{tflag,jdbcType=CHAR},
		#{memo,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="insertSelective"
		parameterType="maindata.service.dao.model.MemberLabelAttributePO">
		insert into member_label_attribute
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="fileCategoryValuesetValueCode != null">
				file_category_valueset_value_code,
			</if>
			<if test="typeValuesetValueCode != null">
				type_valueset_value_code,
			</if>
			<if test="fileTypeValuesetValueCode != null">
				file_type_valueset_value_code,
			</if>
			<if test="labelTypeValuesetValueCode != null">
				label_type_valueset_value_code,
			</if>
			<if test="valuesetCode != null">
				valueset_code,
			</if>
			<if test="valuesetId != null">
				valueset_id,
			</if>
			<if test="isNeedAttribute != null">
				is_need_attribute,
			</if>
			<if test="isMultiselectAttribute != null">
				is_multiselect_attribute,
			</if>
			<if test="createby != null">
				createby,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="modifyby != null">
				modifyby,
			</if>
			<if test="modifytime != null">
				modifytime,
			</if>
			<if test="tflag != null">
				tflag,
			</if>
			<if test="memo != null">
				memo,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=DECIMAL},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="fileCategoryValuesetValueCode != null">
				#{fileCategoryValuesetValueCode,jdbcType=VARCHAR},
			</if>
			<if test="typeValuesetValueCode != null">
				#{typeValuesetValueCode,jdbcType=VARCHAR},
			</if>
			<if test="fileTypeValuesetValueCode != null">
				#{fileTypeValuesetValueCode,jdbcType=VARCHAR},
			</if>
			<if test="labelTypeValuesetValueCode != null">
				#{labelTypeValuesetValueCode,jdbcType=VARCHAR},
			</if>
			<if test="valuesetCode != null">
				#{valuesetCode,jdbcType=VARCHAR},
			</if>
			<if test="valuesetId != null">
				#{valuesetId,jdbcType=DECIMAL},
			</if>
			<if test="isNeedAttribute != null">
				#{isNeedAttribute,jdbcType=CHAR},
			</if>
			<if test="isMultiselectAttribute != null">
				#{isMultiselectAttribute,jdbcType=CHAR},
			</if>
			<if test="createby != null">
				#{createby,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyby != null">
				#{modifyby,jdbcType=VARCHAR},
			</if>
			<if test="modifytime != null">
				#{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="tflag != null">
				#{tflag,jdbcType=CHAR},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective"
		parameterType="maindata.service.dao.model.MemberLabelAttributePO">
		update member_label_attribute
		<set>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=CHAR},
			</if>
			<if test="fileCategoryValuesetValueCode != null">
				file_category_valueset_value_code =
				#{fileCategoryValuesetValueCode,jdbcType=VARCHAR},
			</if>
			<if test="typeValuesetValueCode != null">
				type_valueset_value_code =
				#{typeValuesetValueCode,jdbcType=VARCHAR},
			</if>
			<if test="fileTypeValuesetValueCode != null">
				file_type_valueset_value_code =
				#{fileTypeValuesetValueCode,jdbcType=VARCHAR},
			</if>
			<if test="labelTypeValuesetValueCode != null">
				label_type_valueset_value_code =
				#{labelTypeValuesetValueCode,jdbcType=VARCHAR},
			</if>
			<if test="valuesetCode != null">
				valueset_code = #{valuesetCode,jdbcType=VARCHAR},
			</if>
			<if test="valuesetId != null">
				valueset_id = #{valuesetId,jdbcType=DECIMAL},
			</if>
			<if test="isNeedAttribute != null">
				is_need_attribute = #{isNeedAttribute,jdbcType=CHAR},
			</if>
			<if test="isMultiselectAttribute != null">
				is_multiselect_attribute =
				#{isMultiselectAttribute,jdbcType=CHAR},
			</if>
			<if test="createby != null">
				createby = #{createby,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyby != null">
				modifyby = #{modifyby,jdbcType=VARCHAR},
			</if>
			<if test="modifytime != null">
				modifytime = #{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="tflag != null">
				tflag = #{tflag,jdbcType=CHAR},
			</if>
			<if test="memo != null">
				memo = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=DECIMAL}
	</update>

	<update id="updateByPrimaryKey"
		parameterType="maindata.service.dao.model.MemberLabelAttributePO">
		update member_label_attribute
		set code =
		#{code,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		status =
		#{status,jdbcType=CHAR},
		file_category_valueset_value_code =
		#{fileCategoryValuesetValueCode,jdbcType=VARCHAR},
		type_valueset_value_code = #{typeValuesetValueCode,jdbcType=VARCHAR},
		file_type_valueset_value_code =
		#{fileTypeValuesetValueCode,jdbcType=VARCHAR},
		label_type_valueset_value_code =
		#{labelTypeValuesetValueCode,jdbcType=VARCHAR},
		valueset_code =
		#{valuesetCode,jdbcType=VARCHAR},
		valueset_id =
		#{valuesetId,jdbcType=DECIMAL},
		is_need_attribute =
		#{isNeedAttribute,jdbcType=CHAR},
		is_multiselect_attribute =
		#{isMultiselectAttribute,jdbcType=CHAR},
		createby =
		#{createby,jdbcType=VARCHAR},
		createtime =
		#{createtime,jdbcType=TIMESTAMP},
		modifyby =
		#{modifyby,jdbcType=VARCHAR},
		modifytime =
		#{modifytime,jdbcType=TIMESTAMP},
		tflag = #{tflag,jdbcType=CHAR},
		memo =
		#{memo,jdbcType=VARCHAR},
		content =
		#{content,jdbcType=VARCHAR}
		where id
		= #{id,jdbcType=DECIMAL}
	</update>

	<update id="enable" parameterType="java.util.HashMap">
		update member_label_attribute
		set status = 2, modifyby =
		#{modifyby,jdbcType=VARCHAR}, modifytime =
		#{modifytime,jdbcType=TIMESTAMP}
		where code in
		<foreach collection="codes" item="code" index="no" open="("
			separator="," close=")">
			#{code}
		</foreach>
	</update>

	<update id="disable" parameterType="java.util.HashMap">
		update member_label_attribute
		set status = 3, modifyby =
		#{modifyby,jdbcType=VARCHAR}, modifytime =
		#{modifytime,jdbcType=TIMESTAMP}
		where code in
		<foreach collection="codes" item="code" index="no" open="("
			separator="," close=")">
			#{code}
		</foreach>
	</update>

</mapper>